orchestration/flows/era5_ingest.yaml
id: era5_ingest
namespace: european_energy

description: |
  Fetch ERA5 reanalysis data from Copernicus CDS for a configured country bounding box.
  Variables: wind speed (100m), surface solar radiation, 2m temperature.
  Saves NetCDF to GCS bronze/era5/{country}/YYYY/MM/.

  Two modes:
  - daily (default): fetches one day per CDS request. Used by daily_pipeline.
  - monthly: fetches all days in the month in one CDS request per variable category.
    Significantly faster for backfills — ~30x fewer CDS queue submissions per country.
    Used by backfill_pipeline when mode=monthly.

  Requires: CDSAPI_KEY secret and CDSAPI_URL KV value in Kestra.
  Country bounding boxes come from orchestration/config/countries.json.

inputs:
  - id: date
    type: DATE
    defaults: "2025-03-01"

  - id: country
    type: SELECT
    defaults: "GR"
    values:
      - GR
      - DE
      - FR
      - PL
      - ES
      - DK
      - SE
      - IT

  - id: mode
    type: SELECT
    defaults: "daily"
    values:
      - daily
      - monthly

variables:
  date_year: "{{inputs.date | date('yyyy')}}"
  date_month: "{{inputs.date | date('MM')}}"
  bronze_dir: "gs://{{kv('GCP_BUCKET_NAME')}}/bronze/era5/{{inputs.country}}/{{vars.date_year}}/{{vars.date_month}}/"

tasks:
  - id: fetch_era5
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    outputFiles:
      - "*.nc"
    env:
      CDSAPI_URL: "{{kv('CDSAPI_URL')}}"
      CDSAPI_KEY: "{{secret('CDSAPI_KEY')}}"
    script: |
      import json
      import os
      import sys
      import subprocess
      import site
      import time
      import calendar
      from pathlib import Path

      try:
          import cdsapi
      except ModuleNotFoundError:
          try:
              subprocess.check_call(["uv", "pip", "install", "--system", "cdsapi"])
          except Exception:
              subprocess.check_call([sys.executable, "-m", "pip", "install", "--user", "--no-cache-dir", "cdsapi"])
              user_site = site.getusersitepackages()
              if user_site not in sys.path:
                  sys.path.append(user_site)
          import cdsapi

      RETRY_ATTEMPTS = 3
      RETRY_BACKOFF_BASE = 30  # seconds: 30, 60, 120

      def retrieve_with_retry(client, dataset, request, target):
          for attempt in range(1, RETRY_ATTEMPTS + 1):
              try:
                  client.retrieve(dataset, request, target)
                  return True
              except Exception as exc:
                  if attempt == RETRY_ATTEMPTS:
                      print(f"[ERROR] CDS retrieve failed after {RETRY_ATTEMPTS} attempts: {exc}")
                      return False
                  wait = RETRY_BACKOFF_BASE * (2 ** (attempt - 1))
                  print(f"[WARN] CDS error (attempt {attempt}/{RETRY_ATTEMPTS}): {exc} — retrying in {wait}s")
                  time.sleep(wait)
          return False

      CATEGORY_VARIABLES = {
          "wind":  ["100m_u_component_of_wind", "100m_v_component_of_wind"],
          "solar": ["surface_solar_radiation_downwards"],
          "temp":  ["2m_temperature"],
      }

      url     = os.environ.get("CDSAPI_URL", "https://cds.climate.copernicus.eu/api")
      key     = os.environ.get("CDSAPI_KEY", "")
      client  = cdsapi.Client(url=url, key=key)

      date    = "{{inputs.date}}"
      country = "{{inputs.country}}"
      mode    = "{{inputs.mode}}"
      year    = date[:4]
      month   = date[5:7]
      day     = date[8:10]

      config_path = Path("/workspace/european-energy/orchestration/config/countries.json")
      with config_path.open(encoding="utf-8") as f:
          country_config = json.load(f)

      config = country_config.get(country)
      area   = config.get("era5_area") if config else None
      if area is None:
          raise SystemExit(f"No ERA5 area configured for country={country}")

      output_dir = Path(".")
      failed = False

      if mode == "monthly":
          # One CDS request per category covers all days in the month.
          # Each file is named {year}-{month}_{category}.nc and contains all days.
          days_in_month = [f"{d:02d}" for d in range(1, calendar.monthrange(int(year), int(month))[1] + 1)]
          print(f"[ERA5] Monthly mode — {year}-{month} ({len(days_in_month)} days) for {country}")

          for category, variables in CATEGORY_VARIABLES.items():
              out_file = output_dir / f"{year}-{month}_{category}.nc"
              if out_file.exists():
                  print(f"[SKIP] {out_file} already exists")
                  continue
              print(f"[ERA5] Fetching {category} monthly ({year}-{month})...")
              ok = retrieve_with_retry(client, "reanalysis-era5-single-levels", {
                  "product_type": ["reanalysis"],
                  "variable": variables,
                  "year": year,
                  "month": month,
                  "day": days_in_month,
                  "time": [f"{h:02d}:00" for h in range(24)],
                  "data_format": "netcdf",
                  "area": area,
              }, str(out_file))
              if ok:
                  print(f"[OK] Saved {out_file}")
              else:
                  failed = True

      else:
          # Daily mode: one CDS request per category for a single day.
          print(f"[ERA5] Daily mode — {date} for {country}")
          for category, variables in CATEGORY_VARIABLES.items():
              out_file = output_dir / f"{date}_{category}.nc"
              if out_file.exists():
                  print(f"[SKIP] {out_file} already exists")
                  continue
              print(f"[ERA5] Fetching {category} for {date}...")
              ok = retrieve_with_retry(client, "reanalysis-era5-single-levels", {
                  "product_type": ["reanalysis"],
                  "variable": variables,
                  "year": year,
                  "month": month,
                  "day": day,
                  "time": [f"{h:02d}:00" for h in range(24)],
                  "data_format": "netcdf",
                  "area": area,
              }, str(out_file))
              if ok:
                  print(f"[OK] Saved {out_file}")
              else:
                  failed = True

      if failed:
          sys.exit(1)

  # --- Daily mode uploads (one file per category) ---
  - id: upload_wind_daily
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.mode == 'daily'}}"
    then:
      - id: upload_wind
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.fetch_era5.outputFiles[inputs.date ~ '_wind.nc']}}"
        to: "{{render(vars.bronze_dir)}}{{inputs.date}}_wind.nc"
      - id: upload_solar
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.fetch_era5.outputFiles[inputs.date ~ '_solar.nc']}}"
        to: "{{render(vars.bronze_dir)}}{{inputs.date}}_solar.nc"
      - id: upload_temp
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.fetch_era5.outputFiles[inputs.date ~ '_temp.nc']}}"
        to: "{{render(vars.bronze_dir)}}{{inputs.date}}_temp.nc"

  # --- Monthly mode uploads (one file per category covers the whole month) ---
  - id: upload_wind_monthly
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.mode == 'monthly'}}"
    then:
      - id: upload_wind_m
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.fetch_era5.outputFiles[render(vars.date_year) ~ '-' ~ render(vars.date_month) ~ '_wind.nc']}}"
        to: "{{render(vars.bronze_dir)}}{{render(vars.date_year)}}-{{render(vars.date_month)}}_wind.nc"
      - id: upload_solar_m
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.fetch_era5.outputFiles[render(vars.date_year) ~ '-' ~ render(vars.date_month) ~ '_solar.nc']}}"
        to: "{{render(vars.bronze_dir)}}{{render(vars.date_year)}}-{{render(vars.date_month)}}_solar.nc"
      - id: upload_temp_m
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.fetch_era5.outputFiles[render(vars.date_year) ~ '-' ~ render(vars.date_month) ~ '_temp.nc']}}"
        to: "{{render(vars.bronze_dir)}}{{render(vars.date_year)}}-{{render(vars.date_month)}}_temp.nc"

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('GCP_SERVICE_ACCOUNT')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
